body{
    background-color: rgb(224, 219, 219);
}

.box{
    width: 200px;
    height: 200px;
    background-color: rgb(224, 219, 219);
    margin: auto;
    margin-top: 100px;
    border-radius: 50%;
    transition: 0.3s;
    box-shadow: 3px 3px 5px rgba(238, 89, 89, 0.76), -3px -3px 5px rgb(75, 78, 231);
}
.box:hover{
    box-shadow: inset 3px 3px 10px rgba(255, 0, 0, 0.76);
}
.search{
    width: 300px;
    padding: 10px;
    border-radius: 50px;
    box-shadow:  3px 3px 5px  rgb(49, 80, 255),  -3px -3px 5px  rgb(49, 80, 255);
    margin: auto;
    margin-top: 100px;
}
.searchbox{
    width: 90%;
    background-color: rgb(224, 219, 219);
    border: none;
    font-size: 20px;
}
.searchbox:focus{
    outline: none;
}